.swiper-pagination-bullet {
  background-color: #9ca3af;
  transition: all 0.3s ease;
  width: 4px;
  height: 4px;
  border-radius: 9999px;
  /* margin: 3px 3px; */
  transform-origin: center center;
}

.swiper-pagination-bullet-active {
  background-color: #fff;
  width: 20px;
  height: 4px;
  border-radius: 9999px;
}
